.bg-theme-dark {
    background-color: #181818;
}

.btn-theme-dark {
    background-color: #181818;
    color: white;
}

.btn-theme-dark:hover {
    background-color: white;
    color: #181818;
    border-color: #181818;;
}

.home-particles canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
