.bg-theme-dark {
    background-color: #181818;
}

.bg-theme {
    background-color: #ec008c;
}

.btn-theme-dark {
    background-color: #181818;
    color: white;
}

.btn-theme {
    background-color: #ec008c;
    color: white;
}

.btn-theme-dark:hover {
    background-color: #ec008c;
    color: white;
}

.btn-theme:hover {
    background-color: #181818;
    color: white;
}

.home-particles canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-theme {
    color: #ec008c;
}

.bg-theme {
    background-color: #ec008c;
}

.hand-cursor {
    cursor: progress;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}